body{
  font-size: 14px;
  font-family: "NoiGrotesk", sans-serif;
}

*{
  box-sizing: border-box;
}

h1,h2,h3{
  font-family: "PPFormula", sans-serif;
}

h2{
  font-size: 36px;
  line-height: 130%;
  color: black;
}
h3{
  font-size: 24px;
  line-height: 130%;
  color: black;
}

h4{
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  color: black;
  font-weight: 600;
  letter-spacing: -0.05rem;
}
strong{
  font-weight: 600;
}

@media print{

   .athlonSheet{
    font-size: 0.6rem;
   }

}